<div class="container card shadow-lg p-3 mb-5 bg-white rounded d-flex justify-content-center align-content-center" style="margin-top: 20px;">
      <mat-toolbar class="d-flex justify-content-center align-content-center" style="font-size: 3em">
        <span>Upload and Download Files</span>
      </mat-toolbar>

      <form enctype="multipart/form-data" class="d-flex justify-content-around align-content-center align-items-center flex-column">


            <div>
              <input type="file" (change)="onChange($any($event).target.files)" name="files" id="file" class="form-control" accept=".xml" />
            </div>
            <div class="but d-flex justify-content-center">
              <button (click)="onUploadFiles()" mat-raised-button color="warn" [disabled]="file==null">Upload</button>
            </div>


      </form>
</div>
