<div class=" d-flex flex-column  larg-container " >
  <nav class="navb navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand logonav" href="#"><img src="assets/images/royal-air-maroc-logo.png" alt="" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashbord</a>
          <a class="nav-link" routerLink="/upload">Upload</a>
          <a class="nav-link" routerLink="/airplan">Airplans</a>
          <a class="nav-link" routerLink="/*">Users</a>
        </div>
      </div>
    </div>
  </nav>
    <div class="card d-flex justify-content-center align-items-center" >
      <router-outlet></router-outlet>
    </div>
</div>

