
<div  *ngIf="dataSystems" class=" shadow-lg p-3 mb-5 bg-white rounded ">

  <div class="return d-flex justify-content-between">
    <button style="border: none; background: white" (click)="return()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" >arrow_back_ios_new</mat-icon>
    </button>

    <form class="example-form"
      (submit)="search1()"
    >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input type="search" matInput placeholder="Ex. search"
              [(ngModel)]="search">
      </mat-form-field >
      <button style="border: none; background: white; font-size:2em"><mat-icon aria-hidden="false" aria-label="Example home icon" >search</mat-icon></button>
    </form>


  </div>

  <mat-toolbar class="d-flex justify-content-center align-content-center" style="font-size: 3em" *ngIf="airplan">
    <span>Aiplane : {{airplan.tailNumber}}</span>
  </mat-toolbar>
  <div class="containers1 mt-4" >
    <table mat-table [dataSource]="dataSystems"  >

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>System name</th>
        <td mat-cell *matCellDef="let system"> {{system.name}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let system">
          <button mat-raised-button color="warn"
            (click)="swLocation(system.systemId)"
          >
            SWlocation
          </button>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="columnsToDisplay sticky: true" ></tr>
      <tr mat-row *matRowDef="let row; columns : columnsToDisplay"></tr>


    </table>



  </div>

</div>

