<div class="large-container">


  <div class="card shadow-lg p-3 mb-5 bg-body d-flex justify-content-center align-content-center align-items-center ">
    <div class="logo d-flex justify-content-center">
      <img src="./../../assets/images/royal-air-maroc-logo-alt.png" alt="ARM">
    </div>
    <form class="formfield d-flex flex-column justify-content-center align-items-center align-content-center "
          [formGroup]="loginForm"
          *ngIf="loginForm"
    >
      <div class="d-flex flex-wrap justify-content-center align-content-center">

          <mat-form-field class="field" appearance="fill">
            <mat-label>First Name  </mat-label>
            <input type="text" matInput
                   placeholder="firstName"
                   name="fastName"
                   formControlName="firstName"
            >
            <mat-icon aria-hidden="false" matSuffix aria-label="Example home icon">account_circle</mat-icon>

            <mat-error >
              Veuillez entrer un prenom.
            </mat-error>
          </mat-form-field>

          <mat-form-field  class="field" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput
                 placeholder="lastName"
                 name="lastName"
                 formControlName="lastName"

          >
          <mat-icon aria-hidden="false" matSuffix aria-label="Example home icon">account_circle</mat-icon>

          <mat-error >
            Veuillez entrer un nom.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Nom d'utilisateur </mat-label>
          <input type="text" matInput
                 placeholder="username"
                 name="username"
                 formControlName="username"

          >
          <mat-icon aria-hidden="false" matSuffix aria-label="Example home icon">account_circle</mat-icon>

          <mat-error >
            Veuillez entrer un nom d'utilisateur.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"
            formControlName="password"
          >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="field">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of rolesValue" [value]="role"  >
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>


      <button class="shadow shadow-sm" mat-raised-button color="primary" (click)="register()">Connexion</button>
    </form>
    <!-- <div class="inscrire">
      <strong>Vous n'avez pas de compte? <a href="#">S'inscrire</a></strong>
    </div> -->


  </div>

</div>
