
<div class="shadow-lg">
  <mat-toolbar class="d-flex justify-content-center align-content-center" style="font-size: 3em">
    <span style="font-family: 'Times New Roman'">Boeing 787-800/9 Dreamliner</span>
  </mat-toolbar>
  <carousel >
    <slide>
      <img src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGT</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;">

      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RAM</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;">

      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RAM</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/4.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGX</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/5.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGS</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/6.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGZ</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/9.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGU</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/7.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGT</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/8.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGT</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/10.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGT</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/11.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGZ</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/12.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>CN-RGZ</h1>
      </div>
    </slide>
  </carousel>

</div>
